<!DOCTYPE html>
<html>
<head>
    <!-- Jquery and Plugins -->
    <script src="../js/library/jquery-2.1.4.min.js"></script>
    <script src="../js/library/html5sortable.min.js"></script>
    <!-- Stuff For Rendering -->
    <script src="../js/notification.js"></script >
    <script src="../js/data.js"></script>
    <script src="../js/sorting.js"></script>
    <script src="../js/partials.js"></script>
    <script src="../js/render.js"></script>
    <script src="../js/modals.js"></script>
    <script src="../js/controler.js"></script>

    <!-- Router -->
</head>
<body>
    <div class="app-wrapper">
        <section class="sidebar">
            <a class='songs-link center' href='#'>
                <i class='fa fa-headphones'></i>
                <div class='pointer center-right'><div></div></div>
            </a>
            <a class='polls-link center' href='#'>
                <i class='fa fa-list'></i>
                <div class='pointer center-right hidden'><div></div></div>
            </a>
            <a class='play-link center' href='#'>
                <i class='fa fa-play'></i>
                <div class='pointer center-right hidden'><div></div></div>
            </a>
        </section>
        <a class="hidden marker"></a>

        <!-- Other JS -->
        <script src='../js/router.js'></script>
        <footer class="footer"></footer>
    </div>
    <div class="modal center hidden">
    </div>
</body>
</html>
