<!DOCTYPE html>
<html>
<head>
    <!-- Jquery and Plugins -->
    <script src="../js/library/jquery-2.1.4.min.js"></script>
    <script src="../js/library/html5sortable.min.js"></script>
    <!-- Stuff For Rendering -->
    <script src="../js/data.js"></script>
    <script src="../js/visual.js"></script>
    <script src="../js/partials.js"></script>
    <script src="../js/render.js"></script>
    <script src="../js/controler.js"></script>

    <!-- Router -->
</head>
<body>
    <section class="sidebar"></section>
    <a class="hidden marker"></a>

    <!-- Other JS -->
    <script src='../js/router.js'></script>
</body>
</html>
