<!DOCTYPE html>
<html>
<head>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/controler.js"></script>
    <script> head(); </script>
</head>
<body class="songs">
    <section class="sidebar">
        <script> sidebar('songs-link'); </script>
    </section>
    <main>
        <div class="song center-left">
            <div class="hamburger">
                <hr><hr><hr>
            </div>
            <div class="song_info">
                <span> Down To The Felt <em> - Dave Mosion </em></span>
            </div>
        </div>
    </main>
</body>
</html>
